<form autocomplete="off" class="cypher-add-ons-form">
    <div>
        <h2>MCG Fan Use Policy - Abbreviated Statement</h2>
        <p>Numenera, the Cypher System, No Thank You, Evil!, Invisible Sun, and their respective logos are trademarks of Monte Cook Games, LLC in the U.S.A. and other countries. All Monte Cook Games characters and character names, and the distinctive likenesses thereof, are trademarks of Monte Cook Games, LLC. Content derived from Monte Cook Games publications is © 2013-2021 Monte Cook Games, LLC.</p>
        <a href="https://www.montecookgames.com/fan-support/fan-use-policy/" target="_blank" rel="noreferrer noopener">MCG Full Disclaimer</a>
    </div>
</form>