<!-- Taken from gonzaPaEst Cypher Custom Sheet https://github.com/gonzaPaEst/cypheraddons/blob/main/templates/config-dialog.html -->
<!-- This in order to keep the same visual across system's modules -->
<!-- Please read full disclaimer in setting.js -->
<form autocomplete="off" class="cypher-add-ons-form">
    <section id="mcg-accordion-card">
        <p class="card-title"><i class="fas fa-caret-right"></i> MCG Fan Use Policy - Abbreviated Statement</p>
        <div class="card-body">
            <p>Numenera, the Cypher System, No Thank You, Evil!, Invisible Sun, and their respective logos are trademarks of Monte Cook Games, LLC in the U.S.A. and other countries. All Monte Cook Games characters and character names, and the distinctive likenesses thereof, are trademarks of Monte Cook Games, LLC. Content derived from Monte Cook Games publications is © 2013-2021 Monte Cook Games, LLC.</p>
            <a href="https://www.montecookgames.com/fan-support/fan-use-policy/" target="_blank" rel="noreferrer noopener">MCG Full Disclaimer</a>
        </div>
    </section>
    <h2>Nice(TSY) Add-ons</h2>
    <section class="sheet-settings">
        <div class="sheet-checkboxes">
            <div class="form-group">
                <input type="checkbox" name="useGmIntrusion" id="useGmIntrusion" data-dtype="Boolean" {{checked useGmIntrusion}}/>
                <label for="useGmIntrusion">
                    {{localize "NICECYPHER.SettingsGMINTRUSIONTitle"}}
                </label>
                <p class="notes"><i class="fas fa-share"></i> {{localize "NICECYPHER.SettingsGMINTRUSIONHint"}}</p>
            </div>
            <div class="form-group">
                <input type="checkbox" name="useAutoObfuscate" id="useAutoObfuscate" data-dtype="Boolean" {{checked useAutoObfuscate}}/>
                <label for="useAutoObfuscate">
                    {{localize "NICECYPHER.SettingsAUTOOBFUSCATETitle"}}
                </label>
                <p class="notes"><i class="fas fa-share"></i> {{localize "NICECYPHER.SettingsAUTOOBFUSCATEHint"}}</p>
            </div>
            <div class="form-group">
                <input type="checkbox" name="useAutoRoll" id="useAutoRoll" data-dtype="Boolean" {{checked useAutoRoll}}/>
                <label for="useAutoRoll">
                    {{localize "NICECYPHER.SettingsAUTOROLLTitle"}}
                </label>
                <p class="notes"><i class="fas fa-share"></i> {{localize "NICECYPHER.SettingsAUTOROLLHint"}}</p>
            </div>
            <div class="form-group">
                <input type="checkbox" name="useTradeButton" id="useTradeButton" data-dtype="Boolean" {{checked useTradeButton}}/>
                <label for="useTradeButton">
                    {{localize "NICECYPHER.SettingsSHOWTRADETitle"}}
                </label>
                <p class="notes"><i class="fas fa-share"></i> {{localize "NICECYPHER.SettingsSHOWTRADEHint"}}</p>
            </div>
            <div class="form-group">
                <input type="checkbox" name="useSentenceLink" id="useSentenceLink" data-dtype="Boolean" {{checked useSentenceLink}}/>
                <label for="useSentenceLink">
                    {{localize "NICECYPHER.SettingsSENTENCELINKTitle"}}
                </label>
                <p class="notes"><i class="fas fa-share"></i> {{localize "NICECYPHER.SettingsSENTENCELINKHint"}}</p>
            </div>
            <div class="form-group">
                <input type="checkbox" name="useCreationTool" id="useCreationTool" data-dtype="Boolean" {{checked useCreationTool}}/>
                <label for="useCreationTool">
                    {{localize "NICECYPHER.SettingsCREATIONTOOLTitle"}}
                </label>
                <p class="notes"><i class="fas fa-share"></i> {{localize "NICECYPHER.SettingsCREATIONTOOLHint"}}</p>
            </div>
        </div>

        <img id="form-img" src="../../../modules/nice-cypher-add-ons/img/Numenera-Kallis-by-Mirco-Paganessi.webp" alt="Kaliss, a Clever Jack who Works the Back Alleys">

    </section>

    <div class="form-group" style="margin: 10px;">

        <button type="submit" name="submit">
            <i class="fas fa-save"></i> {{localize "NICECYPHER.SettingsSubmit"}}
        </button>

        <button type="button" name="reset">
            <i class="fas fa-undo"></i> {{localize "NICECYPHER.SettingsReset"}}
        </button>

    </div>

</form>