/* Taken from gonzaPaEst Cypher Custom Sheet https://github.com/gonzaPaEst/cyphersheets/blob/4ab788c055ac58a8dcc8bff45622698dd90e2dc6/styles/config-dialog.css */
/* This in order to keep the same visual across system's modules */
.cypher-add-ons-form p.notes > .fas {
	transform: scaleY(-1);
	margin-left: 12px;
	padding-top: 1px;
	color: #63625a;
}
  
.cypher-add-ons-form input:hover,
.cypher-add-ons-form label:hover,
button[data-key="cyphersheets.cyphersheetsconfig"] i:hover,
button[data-key="cyphersheets.cyphersheetsconfig"] label:hover {
	cursor: pointer;
}
  
.cypher-add-ons-form button,
button[data-key="cyphersheets.cyphersheetsconfig"] {
	transition: color 0.8s, background 1s, border 1s;
	margin: 0 2px;
}

.cypher-add-ons-form button:hover,
button[data-key="cyphersheets.cyphersheetsconfig"]:hover {
	box-shadow: none;
	color: #d4d3cb;
	background: #343534;
	border: 2px groove #2c2a2a;
	cursor: pointer;
}

.cypher-add-ons-form section {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	max-height: fit-content;
}

.cypher-add-ons-form .sheet-checkboxes {
	grid-column: 1 / 4;
}

#form-img {
	grid-column: 4 / 6;
	margin: 0;
	box-shadow: none;
	border: none;
	border-radius: none;
	width: 100%;
	height: auto;
}

/* gonzaPaEst two cents of styling */
.linkedButton {
    height: 26px;
    padding: 1px 3px;
    margin: 0;
    border: 1px solid #7a7971;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
}